<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>AppMechanix - Awesome apps</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu" class="{{class}}">

<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="index.html#home">DSGN NYC</a></h1>
        <i class="fa fa-times menu-close"></i>
        <a href="#home" class="smoothScroll">Home</a>
        <a href="#about" class="smoothScroll">About</a>
        <a href="#portfolio" class="smoothScroll">Portfolio</a>
        <a href="#services" class="smoothScroll">Services</a>
        <a href="#contact" class="smoothScroll">Contact</a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>

<div class="page-header fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="/">AppMechanix</a></h1>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div>

<div class="fadeinbody">
    {{{body}}}
</div>


<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>CONTACT ME RIGHT NOW!</p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.</p>

                <p>
                    <small>5th Avenue, 987<br/>
                        38399, New York,<br/>
                        USA.
                    </small>
                </p>
                <p>
                    <small>Tel. 9888-4394<br/>
                        Mail. Hello@coolfolks.com<br/>
                        Skype. NYCDesign
                </p>

            </div>

            <div class="col-lg-6">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputName1">Your Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        <label for="exampleInputText1">Message</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
        <! --/row -->
    </div>
    <!-- /container -->
</div>

<script src="/js/classie.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/fancybox/jquery.fancybox.js"></script>
<script src="/components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js"></script>
<script src="/components/ScrollMagic/js/_dependent/greensock/plugins/ScrollToPlugin.min.js"></script>
<script src="/components/ScrollMagic/js/jquery.scrollmagic.min.js"></script>

<script src="/js/main.js"></script>
<script>
    $(function () {
        $.stellar({
            horizontalScrolling: false,
            verticalOffset: 400
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //    fancybox
        jQuery(".fancybox").fancybox();


        $('.fadeinbody').addClass('show')
    });
</script>

</body>
</html>
