<div id="portfoliowrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive offset offset-left"
                     id="hero-w8"
                     src="/img/surface-w8.jpg"
                     srcset="/img/surface-w8.2x.jpg 2x"
                     alt="">

                <img class="img-responsive offset offset-right"
                     id="hero-iphone"
                     src="/img/hero-iphone6.png"
                     alt="">

                <img class="img-responsive offset"
                     id="hero-lumia"
                     src="/img/hero-lumia.png"
                     alt="">

                <h2 class="uppercase">Quizblaster</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at hendrerit augue.</p>

                <p><a class="btn btn-info btn-cta" href="http://shnappy.com">Go to Quizblaster</a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>
            </div>

            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>
            </div>

            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>
            </div>
        </div>

    </div>
    <section class="row slice">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div id="lumias-text" style="max-width: 460px">
                            <h3>Windows Phone 8</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id
                                varius
                                laoreet,
                                arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo,
                                eu
                                commodo
                                est suscipit non.</p>

                            <p>Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis gravida
                                luctus.
                                Integer
                                aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis.
                                Quisque quis
                                lectus vulputate, volutpat mi vitae, condimentum nisi.</p>

                            <p>
                                <img src="http://quizblaster.com/Content/img/WPStore.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <br><br>
                        <img
                                src="/img/lumia-520-home.jpg"
                                id="lumias"
                                style="position:relative;"
                                srcset="/img/lumia-520-home.2x.jpg 2x"
                                class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-8">
                <img
                        src="/img/surface-w8.jpg"
                        srcset="/img/surface-w8.2x.jpg 2x"
                        id="surface"
                        style="margin: 0 auto;"
                        class="img-responsive">
            </div>
            <div class="col-md-4">
                <h3 class="title">Windows 8.1</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non.</p>

                <p>Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis gravida luctus. Integer
                    aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis. Quisque quis
                    lectus vulputate, volutpat mi vitae, condimentum nisi.</p>

                <p>
                    <img src="http://quizblaster.com/Content/img/windowsstore.png">
                </p>
            </div>
        </div>
    </section>

    <section class="row slice">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div id="ios-text" style="max-width: 460px">
                            <h3>iPhone and iPad</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id
                                varius
                                laoreet,
                                arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo,
                                eu
                                commodo
                                est suscipit non.</p>

                            <p>Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis gravida
                                luctus.
                                Integer
                                aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis.
                                Quisque quis
                                lectus vulputate, volutpat mi vitae, condimentum nisi.</p>

                            <p>
                                <img src="http://quizblaster.com/Content/img/WPStore.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <img
                                id="ios"
                                src="/img/ios-home.jpg"
                                srcset="/img/ios-home.2x.jpg 2x"
                                style="position:relative;"
                                class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<script>
    $(function () {
        var controller = new ScrollMagic();

        $('#hero-w8').addClass('done');
        $('#hero-iphone').addClass('done');
        $('#hero-lumia').addClass('done');

        // Lumias image
        new ScrollScene({duration: 300, offset: -300, reverse: false})
                .addTo(controller)
                .triggerHook("onCenter")
                .triggerElement($('#lumias-text'))
                .setTween(TweenMax.from($('#lumias-text'), 1, {left: "-100%", marginLeft: -200}));

        new ScrollScene({duration: 300, offset: -300, reverse: false})
                .addTo(controller)
                .triggerHook("onCenter")
                .triggerElement($('#lumias'))
                .setTween(TweenMax.from($('#lumias'), 1, {right: "-100%", marginRight: -200}));

        // Surface image
        new ScrollScene({duration: 200, offset: -300, reverse: false})
                .addTo(controller)
                .triggerHook("onCenter")
                .triggerElement($('#surface'))
                .setTween(TweenMax.from($('#surface'), 1, {autoAlpha: 0}));

        // ios
        new ScrollScene({duration: 300, offset: -300, reverse: false})
                .addTo(controller)
                .triggerHook("onCenter")
                .triggerElement($('#ios'))
                .setTween(TweenMax.from($('#ios'), 1, {right: "-100%", marginRight: -200}));

        new ScrollScene({duration: 300, offset: -300, reverse: false})
                .addTo(controller)
                .triggerHook("onCenter")
                .triggerElement($('#ios-text'))
                .setTween(TweenMax.from($('#ios-text'), 1, {left: "-100%", marginLeft: -200}));

    });

</script>