<div id="portfoliowrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive"
                     style="margin: 0 auto"
                     src="http://quizblaster.com/Content/img/hero.jpg"
                     alt="">

                <h2 class="uppercase">Quizblaster</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at hendrerit augue.</p>

                <p><a class="btn btn-info btn-cta" href="http://shnappy.com">Go to Quizblaster</a></p>
            </div>
        </div>

    </div>
    <div class="row slice">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/content/img/motives/WP-Blue-Game.png" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/content/img/motives/WP-Blue-Leaderboard.png"
                             class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/content/img/motives/WP-Yellow-Leaderboard.png"
                             class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row paddtop">
        <div class="col-md-12 text-center">
            <img style="margin: 10px auto; max-width: 900px;" src="http://quizblaster.com/content/img/heros/Surface.png"
                 class="img-responsive">
        </div>
    </div>
</div>
