<div id="portfoliowrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive"
                     style="margin: 0 auto"
                     src="http://quizblaster.com/Content/img/hero.jpg"
                     alt="">

                <h2 class="uppercase">Quizblaster</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at hendrerit augue.</p>

                <p><a class="btn btn-info btn-cta" href="http://shnappy.com">Go to Quizblaster</a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>

                <p>nteger aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis. Quisque
                    quis lectus vulputate, volutpat mi vitae, condimentum nisi. Proin suscipit dui ac neque interdum
                    vehicula. Fusce nec metus luctus, dictum quam nec, tempor mi.</p>
            </div>

            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>

                <p>nteger aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis. Quisque
                    quis lectus vulputate, volutpat mi vitae, condimentum nisi. Proin suscipit dui ac neque interdum
                    vehicula. Fusce nec metus luctus, dictum quam nec, tempor mi.</p>
            </div>

            <div class="col-md-4">
                <h3>Title</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis, tortor id varius laoreet,
                    arcu mi consequat nulla, quis tristique sem eros at elit. Duis vulputate feugiat justo, eu commodo
                    est suscipit non. Donec vulputate cursus ex, vitae facilisis dui mollis vitae. Aliquam lobortis
                    gravida luctus.</p>

                <p>nteger aliquet nibh laoreet diam commodo fermentum. Morbi fermentum vehicula ex ac facilisis. Quisque
                    quis lectus vulputate, volutpat mi vitae, condimentum nisi. Proin suscipit dui ac neque interdum
                    vehicula. Fusce nec metus luctus, dictum quam nec, tempor mi.</p>
            </div>
        </div>

    </div>
    <div class="row slice">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/lumia-homescreen.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/lumia-game.jpg"
                             class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="/img/lumia-results.jpg"
                             class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Windows Phone 8</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/img/surface-w8.jpg" style="margin: 0 auto"
                     class="img-responsive">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="title text-center">Windows 8.1</h3>
            </div>
        </div>
    </div>

    <div class="row slice">
        <div class="col-md-12 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/Content/img/motives/iPhone-Blue-Game.png" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/Content/img/motives/iPhone-Red-Stats.png" class="img-responsive">
                    </div>
                    <div class="col-md-4">
                        <img src="http://quizblaster.com/Content/img/motives/iPhone-Yellow-Leaderboard.png" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">iPhone and iPad</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
